@model CinemaVillage.ViewModels.User.UserViewModel

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">

    <title>Cinema Village</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.2/anime.min.js" integrity="sha512-aNMyYYxdIxIaot0Y1/PLuEu3eipGCmsEUBrUq+7aVyPGMFH8z0eTP0tkqAvv34fzN6z+201d3T8HPb1svWSKHQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/7d75bced7a.js" crossorigin="anonymous"></script>
    <link rel="icon" href="~/img/IuliaLogo.png">

</head>

<body class="bg-zinc-50">

    <div>
        <nav class="flex items-center justify-between bg-zinc-50 p-5 text-slate-700 font-BarlowSemiCondensed">
            <a asp-action="Index" asp-controller="Home" class="text-4xl font-Fraunces">Cinema Village</a>
            <ul class="flex items-center gap-5">
                <li class="text-slate-700 text-xl">@Model.FirstName @Model.LastName</li>
                <li><i class="fa-regular fa-user fa-xl" style="color: #ff7575;"></i></li>
            </ul>
        </nav>

    </div>
    <div>
        <h1 class="text-slate-700 w-screen text-8xl mb-9 font-Fraunces text-center">Profile</h1>
    </div>

    <div id="OutgoingReservation" class="bg-red-50 pb-10 px-10 w-screen">
        <h1 class="text-4xl text-red-400 mb-4 font-BarlowSemiCondensed">Outgoing Reservations:</h1>
        <ul class="text-xl">
            @foreach (var movie in Model.OnGoingMovies)
            {
                <li class="flex items-center gap-3">Movie: @movie.Title | Booking Time: @movie.BookingTimeMovie | Seats: @movie.SeatsBooked<span class="rounded-full w-2 h-2 bg-red-400 block"></span></li>
            }
        </ul>
    </div>

    <div class="bg-red-50 pb-10 px-10 w-screen">
        <h1 class="text-4xl text-red-400 mb-4 font-BarlowSemiCondensed">Up for Review:</h1>
        <div class="flex gap-4 m-4">
            @foreach (var movie in Model.PastMovies)
            {
                <a asp-controller="Review" asp-action="Index" asp-route-movieid="@movie.Id">
                    <div class="w-52 bg-[#BA3B46] p-7 rounded-xl text-center">
                        <h1>@movie.Title</h1>
                    </div>
                </a>
            }
        </div>
    </div>

    <div class="bg-red-50 pb-10 px-10 w-screen">
        <h1 class="text-4xl text-red-400 mb-4 font-BarlowSemiCondensed">Reviewed:</h1>

        <div class="grid grid-cols-4">
            @foreach (var movie in Model.ReviewedMovies)
            {
                <div class="flex flex-col justify-center items-center">
                    <img class="h-auto w-36 m-7 md:w-56" src="data:image/jpeg;base64, @movie.Image" />
                    <h2 class="text-2xl text-center font-BarlowSemiCondensed font-bold text-slate-700">
                        <a asp-controller="Movie" asp-action="Index" asp-route-movieid="@movie.IdMovie">
                            @movie.Title
                        </a>
                    </h2>
                    <h3 class="text-xl text-center font-BarlowSemiCondensed font-bold text-slate-700">@movie.NoOfStars</h3>
                    <h3 class="text-xl text-center font-BarlowSemiCondensed font-bold text-slate-700">@movie.Review</h3>
                </div>
            }
        </div>

    </div>

    <a asp-controller="User" asp-action="DeleteUser" type="submit">Delete User</a>

</body>

</html>